# Patterns to ignore when packaging
.DS_Store
.git/
.gitignore
.idea/
.vscode/

# Build/Test artifacts
.terraform/
*.tfstate*
*.tgz

# Source code (Helm charts ship templates, not app source)
services/
files/private/

# CI / docs scaffolding
ct.yaml
.helmignore
README.md.bak
