---
apiVersion: hub.traefik.io/v1alpha1
kind: APIPlan
metadata:
  name: airlines-access
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  title: "Airlines Access"
  description: "Airlines Access plan for Airlines APIs"
  rateLimit:
    limit: 100
    period: 1s
  quota:
    limit: 1000
    period: 750h
---
apiVersion: hub.traefik.io/v1alpha1
kind: APIPlan
metadata:
  name: airlines-admins-access
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  title: "Airlines Admin Access"
  description: "Admins Access plan for Admin APIs"
  rateLimit:
    limit: 10000
    period: 1s
  quota:
    limit: 100000
    period: 750h
---
apiVersion: hub.traefik.io/v1alpha1
kind: APIPlan
metadata:
  name: open-access
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  title: "Open Access"
  description: "Open Access plan for general APIs"
  rateLimit:
    limit: 1000000
    period: 1s
  quota:
    limit: 10000000
    period: 750h
{{- $toolGroups := list -}}
{{- range $key, $val := index .Values "tool-access" -}}
  {{- $toolGroups = append $toolGroups $val.group -}}
{{- end -}}
{{- $uniqueToolGroups := $toolGroups | uniq -}}
{{- range $group := $uniqueToolGroups }}
---
apiVersion: hub.traefik.io/v1alpha1
kind: ManagedApplication
metadata:
  name: {{ $group }}-application
  namespace: airlines
  labels:
    {{- include "airlines.labels" $ | nindent 4 }}
spec:
  appId: {{ $group | quote }}
  owner: {{ $group | quote }}
{{- end }}
{{- range index .Values "user-access" }}
---
apiVersion: hub.traefik.io/v1alpha1
kind: ManagedApplication
metadata:
  name: {{ .name }}-application
  namespace: airlines
  labels:
    {{- include "airlines.labels" $ | nindent 4 }}
spec:
  appId: {{ .group | quote }}
  owner: {{ .id | quote }}
{{- end }}
---
apiVersion: hub.traefik.io/v1alpha1
kind: ManagedSubscription
metadata:
  name: users-subscription
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  managedApplications:
    {{- range index .Values "user-access" }}
    - name: {{ .name }}-application
    {{- end }}
  apis:
    - name: baggage-api
    - name: bookings-api
    - name: checkin-api
    - name: flights-api
    - name: loyalty-api
    - name: notifications-api
    - name: pricing-api
    - name: tickets-api
    - name: user-assistance-api
    - name: openai-api
  apiPlan:
    name: airlines-access
  weight: 10
---
apiVersion: hub.traefik.io/v1alpha1
kind: ManagedSubscription
metadata:
  name: admins-subscription
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  managedApplications:
    {{- range $group := $uniqueToolGroups }}
    - name: {{ $group }}-application
    {{- end }}
  apis:
    - name: ancillaries-api
    - name: baggage-api
    - name: bookings-api
    - name: checkin-api
    - name: flights-api
    - name: loyalty-api
    - name: notifications-api
    - name: passengers-api
    - name: pricing-api
    - name: tickets-api
    - name: partner-assistance-api
    - name: ticketing-agent-api
    - name: user-assistance-api
    - name: openai-api
  apiPlan:
    name: airlines-admins-access
  weight: 100
