---
apiVersion: hub.traefik.io/v1alpha1
kind: APIPlan
metadata:
  name: airlines-access
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  title: "Airlines Access"
  description: "A plan with **lower** rate limits and quotas"
  rateLimit:
    limit: 100
    period: 1s
  quota:
    limit: 1000
    period: 750h
---
apiVersion: hub.traefik.io/v1alpha1
kind: ManagedApplication
metadata:
  name: admin-application
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  appId: "admins"
  owner: {{ .Values.keycloak.adminId }}
---
apiVersion: hub.traefik.io/v1alpha1
kind: ManagedApplication
metadata:
  name: developer-application
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  appId: "developers"
  owner: {{ .Values.keycloak.developerId }}
---
apiVersion: hub.traefik.io/v1alpha1
kind: ManagedApplication
metadata:
  name: agent-application
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  appId: "agents"
  owner: {{ .Values.keycloak.agentId }}
---
apiVersion: hub.traefik.io/v1alpha1
kind: ManagedSubscription
metadata:
  name: subscription
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  managedApplications:
    - name: admin-application
    - name: developer-application
    - name: agent-application
  apis:
    - name: ancillaries-api
    - name: baggage-api
    - name: bookings-api
    - name: checkin-api
    - name: flights-api
    - name: loyalty-api
    - name: notifications-api
    - name: passengers-api
    - name: pricing-api
    - name: tickets-api
    - name: partner-assistance-api
    - name: ticketing-agent-api
    - name: user-assistance-api
  apiPlan:
    name: airlines-access
  weight: 10
