---
# Airlines API Portal - Developer Portal for all Airlines APIs
apiVersion: hub.traefik.io/v1alpha1
kind: APIPortal
metadata:
  name: airlines-portal
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  title: "Traefik Airlines APIs"
  description: |
    ## Traefik Airlines APIs
    **Built with ❤️ by Traefik Labs**
  trustedUrls:
    - https://portal.{{ .Values.domain }}
  auth:
    name: oidc-portal-auth
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: airlines-portal
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
  annotations:
    hub.traefik.io/api-portal: airlines-portal
spec:
  entryPoints:
    {{- range .Values.entryPoints }}
    - {{ . }}
    {{- end }}
  routes:
  - match: {{ include "airlines.portal.hostMatch" . }}
    kind: Rule
    services:
    - name: apiportal
      namespace: traefik
      port: 9903
---
apiVersion: hub.traefik.io/v1alpha1
kind: APICatalogItem
metadata:
  name: airlines-access
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  groups:
    - users
  apiBundles:
    - name: trip-bundle
    - name: booking-bundle
    - name: assistant-user-bundle
    - name: openai-bundle
  apiPlan:
    name: airlines-access
---
apiVersion: hub.traefik.io/v1alpha1
kind: APICatalogItem
metadata:
  name: airlines-admins-access
  namespace: airlines
  labels:
    {{- include "airlines.labels" . | nindent 4 }}
spec:
  groups:
    - admins
  apiBundles:
    - name: trip-bundle
    - name: booking-bundle
    - name: assistant-user-bundle
    - name: assistant-ops-bundle
    - name: admin-bundle
    - name: openai-bundle
  apiPlan:
    name: airlines-admins-access
